imagereconstruction/Debug
imagereconstruction/Bin
imagereconstruction/imagereconstruction/Debug
imagereconstruction/imagereconstruction/Thumbs.db
imagereconstruction/imagereconstruction.v11.suo
imagereconstruction/imagereconstruction.v12.suo
imagereconstruction/ipch
